.container {
    margin: 0 auto;
    padding: 84px 120px 98px 120px;

}
.containerSection {
    display: flex;
}
.boxCar {
    display: flex;
    flex-direction: column;
    gap: 68px;
    
}
.img {
    border-radius: 19px;
    width: 640px;
    height: 512px;
}
.car {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    text-align: center;
    color: #101828;
}
.id{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #8d929a;
}
.address {
    display: flex;
    align-items: center;
    gap: 2px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #101828;
}
.price {
    padding: 16px 0 32px 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33333;
    color: #3470ff;
}
.text {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #101828;
}

.details {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: #101828;
    margin: 0;
    margin-bottom: 20px;
}
.detailsItem {
    display: flex;
    align-items: center;
    gap: 8px;
}
.detailsList {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: #101828;
}

.infoCar {
    display: flex;
    flex-direction: column;
    margin-left: 75px;
    
}
.oneInfo {
    display: flex;
    align-items: center;
    gap: 16px;
}
.carList {
    margin-left: 75px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 110px;
}
.icon {
    font-size: 16px;
    color: #667085;
    color: currentColor;
}

.grid {
    display: grid;
    grid-template-columns: 640px 1fr;
    column-gap: 48px;
    align-items: start;
}
.leftCol {
    display: flex;
    flex-direction: column;
    gap: 46px;
}